.dcl.tabs a {
  color: var(--text);
}

.dcl.logo {
  background-image: url('../../images/kryptomon-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px;
  width: 111px;
  height: 48px;
  margin-top: -10px;
}
