.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding-left: 42px;
  width: calc(100% - 272px);
}

.profile-container {
  display: flex;
  flex-direction: row;
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 42px;
}

.block-title-text {
  font-family: var(--font-monospace);
  font-size: 10px;
  color: #676370;
  text-transform: uppercase;
}

.detail-medium-text {
  font-family: var(--font-monospace);
  font-size: 12px;
  font-weight: 700;
  color: #e7e3d7;
}

.detail-big-text {
  font-family: var(--font-monospace);
  font-size: 16px;
  font-weight: 700;
  color: #e7e3d7;
}
