.kryptomon.choose-pair {
  display: flex;
  flex: 1;
  margin-bottom: 30px;
}

.kryptomon.choose-pair .empty-card-box {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 375px;
}

.kryptomon.choose-pair .empty-card-box .card-content {
  width: 200px;
}

.kryptomon.choose-pair .empty-card-box .card-title {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.86px;
  text-align: center;
  margin-bottom: 44px;
}

.kryptomon.choose-pair .remove-button {
  margin-top: 18px;
}

.kryptomon.choose-pair .remove-button .kicon {
  font-size: 12px;
  color: #676370;
  letter-spacing: 0;
}

.kryptomon.choose-pair .border-left {
  border-left: 1px solid rgba(151, 151, 151, 0.21);
}