.HomePageHero.dcl.hero {
  height: var(--page-header-height);
}

.HomePageHero .hero-image {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url(../../images/kriptomon-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.HomePageHero.dcl.hero .ui.header.hero-subtitle {
  font-family: inherit;
  margin-bottom: 24px;
  color: var(--secondary-text);
  max-width: 55%;
}

@media (max-width: 768px) {
  .HomePageHero.dcl.hero .ui.header.hero-subtitle {
    margin-top: 20px;
    max-width: 100%;
  }
}
